<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <%= form.text_field :first_name, placeholder: 'first name', class:"form-control "%>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.text_field :last_name, placeholder: 'last name', class:"form-control "%>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.email_field :email, placeholder: 'email', class:"form-control "%>
    </div>

    <div class="col-md-4 mb-3">
          <%= form.select :designation, User.designations.keys.map{|designation| [designation, designation]},
        {prompt: 'Select designation' },  class: "form-select", onblur:'this.size=1', onchange:'this.size=1, this.blur()', id:'bill-type'%>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.select :department_id, Department.all.map{|dept| [dept.name, dept.id]},
        {prompt: 'Select department' },  class: "form-select", onblur:'this.size=1', onchange:'this.size=1, this.blur()', id:'bill-user'%>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
<% end %>
