<div id="<%= dom_id bill %>">
  <p>
    <strong>Type:</strong>
    <%= bill.bill_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Submitted date:</strong>
    <%= bill.created_at.strftime("%Y-%m-%d") %>
  </p>

  <p>
    <strong>Submitted by:</strong>
    <%= bill.user.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

</div>
