<div id="<%= dom_id bill %>">
  <p>
    <strong>Type:</strong>
    <%= bill.bill_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bill.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= bill.currency %>
  </p>

</div>
