<%= form_with(model: bill) do |form| %>
  <% if bill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="col-md-4 mb-3">
          <%= form.select :bill_type, Bill.bill_types.keys.map{|type| [type, type]},
        {prompt: 'Select type' },  class: "form-select", onblur:'this.size=1', onchange:'this.size=1, this.blur()', id:'bill-type'%>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.select :user_id, User.all.map{|user| [user.name, user.id]},
        {prompt: 'Select employee' },  class: "form-select", onblur:'this.size=1', onchange:'this.size=1, this.blur()', id:'bill-user'%>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.select :currency, Bill.currencies.keys.map{|currency| [currency, currency]},
        {prompt: 'Select currency' },  class: "form-select", onblur:'this.size=1', onchange:'this.size=1, this.blur()', id:'bill-user'%>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.number_field :amount, placeholder: 'amount', class:"form-control "%>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
<% end %>
