<div class="container-fluid" id ="sidebar">
    <div class="row min-vh-100 flex-column flex-md-row">
      <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark ">
          <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center sticky-top ">
          <div class="text-center p-1" id="side-text">
           <img src="/assets/def_profile.jpeg" alt="profile" class="profile"><br>
           <strong> <%= link_to 'Home' ,root_path, class:'navbar-brand mx-0 font-weight-bold  text-nowrap'%></strong>
           </a>
          </div>
          <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse order-last" id="side-text">
            <ul class="navbar-nav flex-column w-100 justify-content-center">
            <li class="nav-item ">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item <%= active_class(bills_path) %>" >
              <%= link_to 'Bills',bills_path, class: 'nav-link '%>
            </li>
            <li class="nav-item <%= active_class(users_path) %>">
            <%= link_to 'Users',users_path, class: 'nav-link '%>
            </li>
            <li class="nav-item <%= active_class(departments_path)%>">
            <%= link_to 'Departments',departments_path, class: 'nav-link'%>
            </li>
          </ul>
          </div>      
        </nav>   
      </aside>